.baixar_notas{
    width: 100%;
    display: flex;
    padding: 3em;
}

.baixar_notas h1 { 

    font-size: 2.5em;   
    color: #0B4E68;
    font-family: 'Lexend', sans-serif;

}

.baixar_notas h3{
    font-family: 'Lexend', sans-serif;

    font-size: 1.0em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #0B4E68;
}

.section1 {
    flex: 2;
}

.section2 {
    flex: 1;
}

.section2 p{

    font-family: 'Lexend', sans-serif;
    margin-top: 3em;
    font-size: 1.0em;
    color: #0B4E68;

}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading_logo{
    animation: rotate 2s linear infinite;
  }

  .loading_logo{
    width: 30px;
  }



