.navbar {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #0B4E68, #045f83);
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 15px;
}

.item {
  margin-right: 2.5em;
}

.item a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lexend', sans-serif;

}

.item a:hover {
  color: #74B7A5;
  text-decoration: none;
}

.logoImg {
  width: 40px;
  border-color: #d9d9d9;
}
