.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0B4E68;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1.5em;
}

.item a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lexend', sans-serif;

}

.item a:hover {
  color: #74B7A5;
  text-decoration: none;
}

.logoImg {
  width: 50px;
}
